body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #36393F; /* Dark theme background color */
    color: #FFFFFF; /* Text color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #202225; /* Container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Container box shadow */
    text-align: center; /* Center-align container content */
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align input container */
    margin-bottom: 20px;
}

.input-container label {
    margin-right: 10px;
    color: #7289DA; /* Label color */
}

.input-container input[type="text"] {
    padding: 10px;
    border: 1px solid #7289DA; /* Input border color */
    background-color: #40444B; /* Input field background color */
    color: #FFFFFF; /* Input field text color */
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-container input[type="text"]:focus {
    border-color: #7289DA; /* Input border color on focus */
    outline: none;
}

.input-container button {
    padding: 10px 20px;
    border: none;
    background-color: #7289DA; /* Button background color */
    color: #FFFFFF; /* Button text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #677BC4; /* Hover state background color */
}

.data {
    text-align: left; /* Align user info text to left */
    margin-bottom: 20px;
}

#copyAllDataButton {
    padding: 10px 20px;
    border: none;
    background-color: #7289DA; /* Button background color */
    color: #FFFFFF; /* Button text color */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none; /* Hide button by default */
}

#copyAllDataButton.show {
    display: block; /* Show button when user ID is entered */
}

.copy-button-container {
    display: flex;
    justify-content: center;
}